In [107]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [108]:
#path to driver
executable_path = {'executable_path': "chromedriver.exe"}
browser = Browser("chrome", ** executable_path, headless=False)

In [109]:
#splinter module
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [110]:
#beautiful soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")
news_title = soup.find("div", class_="content_title").text
news_p = soup.find('div', class_= "article_teaser_body").text
print(news_title)
print(news_p)

NASA's Mars 2020 Rover Closer to Getting Its Name
155 students from across the U.S. have been chosen as semifinalists in NASA's essay contest to name the Mars 2020 rover, and see it launch from Cape Canaveral this July.

In [120]:
#jpl image
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(featured_image_url)
html_image= browser.html
soup_image = BeautifulSoup(html_image, 'html.parser')
image_url = soup_image.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]
main_url= 'https://www.jpl.nasa.gov'
image_url=main_url+image_url
print(image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17761-1920x1200.jpg

In [111]:
#Twitter tweet weather
mars_weather = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_weather)
html_weather= browser.html
soup_weather = BeautifulSoup(html_weather, 'html.parser')
weather= soup_weather.find('p', class_= 'TweetTextSize').text
print(weather)

InSight sol 408 (2020-01-19) low -97.1ºC (-142.7ºF) high -16.0ºC (3.1ºF)
winds from the SSW at 5.2 m/s (11.6 mph) gusting to 20.7 m/s (46.3 mph)
pressure at 6.40 hPapic.twitter.com/tIqoEyK2Uk

In [131]:
#Facts 
mars_facts = 'https://space-facts.com/mars/'
mars_read = pd.read_html(mars_facts)
marsdf = mars_read[0]
marsdf

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
#hemisppheres